<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.monitor.mapper.DeviceIconMapper">

    <select id="getPicByDeviceType" resultType="org.jeecg.modules.demo.monitor.entity.DeviceIcon">
        select Id,Device_type,Icon_Pic,Icon_type from device_icon where Device_type=#{type}
    </select>
    <select id="getPicByDeviceTypeAndStatus" resultType="org.jeecg.modules.demo.monitor.entity.DeviceIcon">
         select Id,Device_type,Icon_Pic,Icon_type from device_icon where Device_type=#{type} and icon_type=#{status}
    </select>

</mapper>